<h1>새 작품 업로드</h1>
<!--<form action="/works" method="post">-->
<!--    제  목 : <input type="text" name="title"><br>-->
<!--    설  명 : <input type="text" name="desc"><br>-->
<!--    이미지 : <input type="text" name="image"><br>-->
<!--    메이커 : <input type="text" name="maker_id"><br>-->
<!--    <input type="submit">-->
<!--</form>-->

<%= form_tag("/works", multipart: true ) do %> <!--메쏘드는 디폴트값으로 포스트-->
<!--form 내용물 : input 등등-->
    제 목 : <%=text_field_tag(:title)%><br>
    설 명 : <%=text_field_tag(:desc)%><br>
    이미지 : <%=file_field_tag(:image)%><br>
    메이커 : 
    <select name="maker_id">
        <%@maker.each do |maker|%>
        <option value="<%= maker.id%>"><%=maker.name%></option>
        <%end%>
    </select><br>
    <%=submit_tag("작품 올리기")%>
<%end%>