<p><%=flash[:msg]%></p>

<h1>새 메이커 등록</h1>
<%=form_tag ("/makers")do %>
    이 름 : <%=text_field_tag(:name)%><br>
    전화번호 : <%=text_field_tag(:phone_number)%><br>
    이메일 : <%=email_field_tag(:email)%><br>
    <%=submit_tag("작가등록")%><br>
<%end%>